.dashboard{
    -fx-background-color: #f8f8f8;
}
.sidebar{
    -fx-background-color: #fff;
}
.side_labels{
    -fx-font-size: 24px;
}
.label_bg{
    -fx-background-color: #E8F0FF;
    -fx-border-color: #0455A7; 
}

.input{
    -fx-background-color:  white;
    -fx-border-color:  #CCCCCC;
    -fx-font-size: 18;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.mybutton{
    -fx-background-color:  #0455A7;
    -fx-font-size: 18;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    
}

.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-border-color: #CCCCCC;
    -fx-border-width: 0 0 1px 0;
    -fx-cell-size: 100px;
    -fx-background-color: rgba(255,255,255);
}
.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-padding: 7px 0 7px 0;
    -fx-alignment: center;
    -fx-font-size: 18px;
}
.table-view .cell{
    -fx-cell-size: 30px;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}
.table-row-cell:selected{
    -fx-background-color: #0455A7;
}
.table-row-cell:selected .text{
    -fx-fill: white;
    -fx-font-weight: bold;
}

.navbar_s{
    -fx-background-color: #fff;
}